@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="panel panel-default">
    <div class="panel-heading">
        <strong>Registrar Pago</strong>
    </div>
    <div class="panel-body" style="min-height: 330px;">
        <div id="divMensajeInformativo">
            <span class="fa fa-info-circle"></span>
            <span id="lblMensajeInformativo">Por favor ingrese el comprobante de pedido.</span>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-6">
                <div class="form-horizontal" role="form">
                    <div class="form-group" style="">
                        <label class="col-sm-5 control-label">Comprobante de Pedido:</label>
                        <div class="col-sm-7">
                            <input id="txtNumeroSolicitud" type="text" class="form-control integerInput" maxlength="10" placeholder="Comprobante de Pedido" >
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <div class="form-horizontal" role="form">
                    <div class="form-group" style="">
                        <label class="col-sm-5">
                            <input id="btnBuscar" type="button" value="Buscar" class="btn btn-default btn-filter" />
                        </label>
                        <div class="col-sm-7">
                            &nbsp;            
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <h3>Detalle de Solicitud de Pedido</h3>
            </div>
        </div>

        <div id="divResultadoBusqueda" style="display: none">
            <div class="table-responsive">
                <div id="grdResultado" >
                </div>
            </div>
        </div>

        <form id="frmRegistrarPago">
            <div id="divDatosPago">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-horizontal" role="form">
                            <div class="form-group" style="">
                                <label class="col-sm-2 control-label">Monto Total Soles:</label>
                                <div class="col-sm-3">
                                    <input id="txtTotalSoles" type="text" class="form-control" placeholder="0.00" disabled="disabled">
                                </div>
                            </div>
                            <div class="form-group" style="">
                                <label class="col-sm-2 control-label">Monto Total Dolares:</label>
                                <div class="col-sm-3">
                                    <input id="txtTotalDolares" type="text" class="form-control" placeholder="0.00" disabled="disabled">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Tipo de Pago:</label>
                                <div class="col-sm-3">
                                    <select id="cboTipoPago" class="form-control" >
                                        <option value="0">--Seleccionar--</option>
                                        <option value="1">Efectivo</option>
                                        <option value="2">Tarjeta</option>
                                    </select>
                                </div>
                                <label id="lblReferenciaPagoTarjeta" class="col-sm-1 control-label">Ref:</label>
                                <div class="col-sm-1">
                                    <input id="txtReferenciaPagoTarjeta" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Moneda:</label>
                                <div class="col-sm-3">
                                    <select id="cboMoneda" class="form-control">
                                        <option value="0"> --Seleccionar--</option>
                                        <option value="1">Soles</option>
                                        <option value="2">Dolares</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Tipo de Documento:</label>
                                <div class="col-sm-3">
                                    <select id="cboTipoDocumento" class="form-control" data-bind="options: ListaTipoDocumento, optionsText: 'Name', optionsValue: 'Id', optionsCaption: 'Seleccionar'">
                                        <option value="0">--Seleccionar--</option>
                                        <option value="1">Boleta</option>
                                        <option value="2">Factura</option>
                                    </select>
                                </div>
                                <label id="lblRuc" class="col-sm-1 control-label">RUC:</label>
                                <div class="col-sm-1">
                                    <input id="txtRuc" type="text" class="form-control integerInput" maxlength="11">
                                </div>
                                <label id="lblRazonSocial" class="col-sm-1 control-label">Razon Social:</label>
                                <div class="col-sm-3">
                                    <input id="txtRazonSocial" type="text" class="form-control">
                                </div>
                            </div>
                            <div class="form-group" style="">
                                <label class="col-sm-2 control-label">Importe:</label>
                                <div class="col-sm-3">
                                    <input id="txtImporte" type="text" class="form-control doubleInput" placeholder="0.00" disabled="disabled">
                                </div>
                            </div>
                            <div class="form-group" style="">
                                <label class="col-sm-2 control-label">Vuelto Soles:</label>
                                <div class="col-sm-3">
                                    <input id="txtVuelto" type="text" class="form-control" placeholder="0.00" disabled="disabled">
                                </div>
                            </div>

                            
                            <div class="form-group">
                                <div class="col-sm-5"></div>
                                <div class="col-sm-7" style="text-align: right;">
                                    <input id="btnLimpiar" class="btn btn-default btn-filter" type="button" value="Limpiar" data-bind="visible: Limpiar.Visible, enable: Limpiar.Enabled" />
                                    <input id="btnGrabar" type="button" value="Grabar" class="btn btn-primary   " data-bind="visible: MostrarResultado.Visible,enable: MostrarResultado.Enabled" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        

    </div>
</div>
@section Scripts {

    <script src="../../Scripts/PDF/pdfmake.min.js"></script>
 	<script src="../../Scripts/PDF/vfs_fonts.js"></script>

    <script type="text/javascript">
        ns('Pe.ByS.ERP.GestionPermiso.SolicitudPermiso.Actions');
        Pe.ByS.ERP.GestionPermiso.SolicitudPermiso.Actions.Buscar = '@Url.Action("Buscar", "SolicitudPermiso", new { Area = "GestionPermiso" })';
        Pe.ByS.ERP.GestionPermiso.SolicitudPermiso.Actions.Grabar = '@Url.Action("Grabar", "SolicitudPermiso", new { Area = "GestionPermiso" })';

       
    </script>
}